azure-functions
azure-identity
azure-ai-agents
azure-keyvault-secrets
azure-mgmt-monitor
azure-monitor-query
pandas
numpy
matplotlib
statsmodels
requests
urllib3
azure-mgmt-resourcehealth
paramiko
azure-mgmt-storage
azure-mgmt-resource
azure-storage-blob



